<html>
    <head>
        <title>
            Register
        </title>
    </head>
    <body>
        <h1>SignUP!</h1>
        <form action="/register" method="POST">
            <div>
                <label for="username" class="form-label">Enter Username:</label>
                <input type="text" class="form-control" name="username" id="username">
            </div>
            <div>
                <label for="password">Enter Password:</label>
                <input type="password" name="password" id="password">
            </div>
            <button>Sign UP</button>
        </form>
    </body>
</html>